@font-face {
  font-family: "Inconsolata-Regular";
  src: url("Inconsolata-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "LexendMega";
  src: url("LexendMega-Regular.ttf");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 55px;
  right: 55px;
  display: flex;
  background-color: white;
  border-bottom-style: outset;
  border-width: thin;
  border-color: black;
}

.logo {
  flex: 1 1 auto;
  font-family: "LexendMega";
  font-size: 1.2em;
  letter-spacing: 0.5rem;
  margin: 20px 0;
}

nav {
  flex: 2 1 auto;
  display: flex;
  margin-top: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: "Inconsolata-Regular";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: black;
  margin: 8px;
  font-size: 0.8em;
}

.grid {
  margin: 120px 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6em;
  row-gap: 2em;
}

section {
  display: flex;
  flex-direction: column;
  min-width: 33%;
  line-height: 2em;
  font-size: 1.2em;
}

section p {
  font-family: "Inconsolata-Regular";
  font-size: 0.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.client {
  font-style: italic;
}

img {
  border-style: solid;
  border-width: thin;
  border-color: #bfbfbf;
  flex-grow: 2;
}

footer {
  border-top-style: inset;
  border-width: thin;
  border-color: black;
  display: flex;
  margin: 0 55px;
}

.info {
  margin: 2em 0;
  font-size: 0.7em;
  line-height: 1.5em;
}

.info h1 {
  font-family: "Inconsolata-Regular";
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin-bottom: 1.1em;
}

.info2 {
  margin-left: 10em;
}
